
# Allow only .ipynb and .py files to be tracked
!*.ipynb
!*.py

# Ignore large directories by adding their paths explicitly
Data/
Data1/
EfficientNet_data/
jainil/Inferences5
jainil/source
merged_results
Mohammad
runs/detect
wandb
dump
runs
video_for_inference
.venv
suryansh/src/models/tuner_dir
suryansh/src/models/best_model.keras
Data2
# Optionally, you can specify subdirectories to ignore
data/
output/
jainil/runs/detect

# Ignore all files in a folder except for specific ones (e.g., scripts folder)
scripts/**
!scripts/*.py
